* {
	font-family: 'Press Start 2P', cursive;
}

body {
	height: 100vh;
	margin: 0;
}

.container {
	margin: auto;
	display: grid;
	grid-template-columns: 2fr;
	grid-template-rows: .5fr repeat(2, 1.5fr) .5fr;
	grid-gap: 50px;
	height: 100%;
	width: 80%;
}
	
.header {
	grid-area: 1 / 1 / 2 / 2;
	margin-left: 20px;
}

.div2 {
	grid-area: 2 / 1 / 3 / 2; 
}

.div3 {
	grid-area: 3 / 1 / 4 / 2; 
	text-align: center;
}

.footer {
	grid-area: 4 / 1 / 5 / 2;
	color: ivory;
} 
		
.content {
	text-align: center;
	vertical-align: middle;
}

.width-test {
	width: 800px;
	margin: auto;
}

.input {
	-moz-border-radius: 10px;
	/* for Firefox */
	-webkit-border-radius: 10px;
	/* for Webkit-Browsers */
	border-radius: 10px;
	/* regular */
	/* opacity: 0.5; */
	/* Transparent Background 50% */
	margin: auto;
	text-align: center;
}

.click-me {
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
	cursor: pointer;
}

.click-me:hover {
	background-color: aquamarine;
}

.fade-in-text {
	display: block;
	color: black;
	animation: fadeIn linear 7s;
	-webkit-animation: fadeIn linear 7s;
	-moz-animation: fadeIn linear 7s;
	-o-animation: fadeIn linear 7s;
	-ms-animation: fadeIn linear 7s;
  }
  
  @keyframes fadeIn {
	0% {opacity:0;}
	100% {opacity:1;}
  }
  
  @-moz-keyframes fadeIn {
	0% {opacity:0;}
	100% {opacity:1;}
  }
  
  @-webkit-keyframes fadeIn {
	0% {opacity:0;}
	100% {opacity:1;}
  }
  
  @-o-keyframes fadeIn {
	0% {opacity:0;}
	100% {opacity:1;}
  }
  
  @-ms-keyframes fadeIn {
	0% {opacity:0;}
	100% {opacity:1;}
  }

