@import "compass/css3";

@import url(https://fonts.googleapis.com/css?family=Finger+Paint);

* {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	line-height: 1.5;
}

body {
	height: 100vh;
	background: #121212;
	margin: 0;
}

.container {
	display: grid;
	grid-template-columns: 2fr;
	grid-template-rows: .5fr repeat(2, 1fr) .5fr;
	height: 100%;
	max-width: 1024px;
	margin: auto;
}
	
.header {
	grid-area: 1 / 1 / 2 / 2;
	margin-left: 20px;
	margin-right: 20px;
}

.align-left {
	float: left;
}
.align-right {
	float: right;
}
.div2 {
	grid-area: 2 / 1 / 3 / 2;
	text-align: center;
	margin-top: 20px;
}

.div3 {
	grid-area: 3 / 1 / 4 / 2; 
}

.footer {
	grid-area: 4 / 1 / 5 / 2;
	color: rgb(0, 255, 170);
	margin-left: 20px;
	margin-right: 20px;
}
		
.content {
	text-align: center;
	vertical-align: middle;
}

.title {
	color: rgb(0, 255, 170);
}

.title:hover {
	color: ivory
}

.grid-title {
	color: whitesmoke;
	opacity: 80%;
}

.input {
	-moz-border-radius: 10px;
	/* for Firefox */
	-webkit-border-radius: 10px;
	/* for Webkit-Browsers */
	border-radius: 10px;
	/* regular */
	opacity: 0.5;
	/* Transparent Background 50% */
	width: 70%;
	height: 40px;
	border: 0px;
    margin-bottom: 10px;
    margin-top: 0px;
	text-align: center;
	background-color:#fff;
}

.click-me-toad {
	display: block;
	cursor: pointer;
	margin: auto;
}

.email {
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	border: 0px;
	text-align: center;
	width: 25%;
}

.email-button {
	margin-left: 10px;
}

.fade-in-text {
	display: block;
	font-family: 'Roboto Mono', monospace;
	color: rgb(0, 255, 170);
	animation: fadeIn linear 7s;
	-webkit-animation: fadeIn linear 7s;
	-moz-animation: fadeIn linear 7s;
	-o-animation: fadeIn linear 7s;
	-ms-animation: fadeIn linear 7s;
  }

  .fade-in-7 {
	font-family: 'Roboto Mono', monospace;
	animation: fadeIn linear 7s;
	-webkit-animation: fadeIn linear 7s;
	-moz-animation: fadeIn linear 7s;
	-o-animation: fadeIn linear 7s;
	-ms-animation: fadeIn linear 7s;
  }

  .fade-in-15 {
	font-family: 'Roboto Mono', monospace;
	animation: fadeIn linear 15s;
	-webkit-animation: fadeIn linear 15s;
	-moz-animation: fadeIn linear 15s;
	-o-animation: fadeIn linear 15s;
	-ms-animation: fadeIn linear 15s;
  }

  .fade-out-5 {
	animation: fadeOut ease 5s;
	-webkit-animation: fadeOut ease 5s;
	-moz-animation: fadeOut ease 5s;
	-o-animation: fadeOut ease 5s;
	-ms-animation: fadeOut ease 5s;
	animation-fill-mode: forwards
  }

  span {
	display: inline-block;
	color: transparent;
	font: 5vw/20vh "Finger Paint";
	text-shadow: 0 0 0 whitesmoke;
	animation: smoky 5s 3s both;
	backface-visibility: hidden;
  }
  
  span:nth-child(even){
	animation-name: smoky-mirror;
  }
  
  @keyframes smoky {
	60% {
	  text-shadow: 0 0 40px whitesmoke;
	}
	to {
	  transform:
		translate3d(15rem,-8rem,0)
		rotate(-40deg)
		skewX(70deg)
		scale(1.5);
	  text-shadow: 0 0 20px whitesmoke;
	  opacity: 0;
	}
  }
  
  @keyframes smoky-mirror {
	60% {
	  text-shadow: 0 0 40px whitesmoke; }
	to {
	  transform:
		translate3d(18rem,-8rem,0)
		rotate(-40deg) 
		skewX(-70deg)
		scale(2);
	   text-shadow: 0 0 20px whitesmoke;
	  opacity: 0;
	}
  }
  
  @for $item from 1 through 12 {
	span:nth-of-type(#{$item}){ 
	  animation-delay: #{(3 + ($item/10))}s; 
	}
  } 
  
  @keyframes fadeIn {
	0% {opacity:0;}
	100% {opacity:1;}
  }
  
  @-moz-keyframes fadeIn {
	0% {opacity:0;}
	100% {opacity:1;}
  }
  
  @-webkit-keyframes fadeIn {
	0% {opacity:0;}
	100% {opacity:1;}
  }
  
  @-o-keyframes fadeIn {
	0% {opacity:0;}
	100% {opacity:1;}
  }
  
  @-ms-keyframes fadeIn {
	0% {opacity:0;}
	100% {opacity:1;}
  }

  @keyframes fadeOut {
	0% {
	  opacity:1;
	}
	100% {
	  opacity:0;
	}
  }
  
  @-moz-keyframes fadeOut {
	0% {
	  opacity:1;
	}
	100% {
	  opacity:0;
	}
  }
  
  @-webkit-keyframes fadeOut {
	0% {
	  opacity:1;
	}
	100% {
	  opacity:0;
	}
  }
  
  @-o-keyframes fadeOut {
	0% {
	  opacity:1;
	}
	100% {
	  opacity:0;
	}
  }
  
  @-ms-keyframes fadeOut {
	0% {
	  opacity:1;
	}
	100% {
	  opacity:0;
  }
}